---
layout: default
title: home
---

<div class="home">
  <section class="portfolio">
      <div class="hero-image">
        {% if page.img %}
        <img class="featured-img" src={{ "/img/" | prepend: site.baseurl | append : page.img }} alt="{{page.alt}}" >
        {% endif %}
      </div>
  </section>

  {{ content }}

  <script>
  $(function(){

    let imgs = [

      { url: "/img/work/StudioCo-op-1.gif", caption: "" },
      { url: "/img/work/X1A3670.gif", caption: "" },
      { url: "/img/work/814A5072.gif", caption: "<p>Program wall at MoMA</p>" }, { url: "/img/work/814A5082.gif", caption: "" },
      { url: "/img/work/Rrrreading.gif", caption: "" },
      { url: "/img/work/BYS.gif", caption: "" },

      { url: "/img/work/Argot.gif", caption: "" },
      { url: "/img/work/ATOM-1.gif", caption: "" }, { url: "/img/work/Kjell2.gif", caption: "<p>With <a href=\"http://javierdesigns.info\" target=\"_blank\">JL</a> and <a href=\"http://lizoh.com\" target=\"_blank\">LO</a></p>" },

      { url: "/img/work/bmore-invisible-posters-2.gif", caption: "" },
      { url: "/img/work/humanuniversals-poster.gif", caption: "" },
      { url: "/img/work/KrissiPoster.gif", caption: "" },
      { url: "/img/work/Machine-Learning.gif", caption: "" },
      { url: "/img/work/paper_field.gif", caption: "" },

      { url: "/img/work/WORLD-OF-WATSON.gif", caption: "" },
      { url: "/img/work/Bloomberg.gif", caption: "" },

      { url: "/img/work/GLLongSleeves.gif", caption: "" },
      { url: "/img/work/GLstickers.gif", caption: "" },
      { url: "/img/work/GLwaterbottle.gif", caption: "" },

      { url: "/img/work/SVNTN1.gif", caption: "" }, { url: "/img/work/SVNTN2.gif", caption: "<p>With <a href=\"http://javierdesigns.info\" target=\"_blank\">JL</a> and <a href=\"http://www.luizludwig.com.br\" target=\"_blank\">LL</a></p>" }, { url: "/img/work/SVNTN3.gif", caption: "" },

        { url: "/img/work/MoMA-audio1.gif", caption: "" }, { url: "/img/work/MoMA-audio2.gif", caption: "<p>MoMA Audio</p>" },
        { url: "/img/work/MoMAmembership-1.gif", caption: "<p>membership.moma.org</p>" }, { url: "/img/work/MoMAmembership-2.gif", caption: "" },
        { url: "/img/work/Magazine-1.gif", caption: "<p>Magazine <a href=\"https://www.moma.org/magazine\" target=\"_blank\">↗︎</a></p>" }, { url: "/img/work/Magazine-2.gif", caption: "" }, { url: "/img/work/Magazine-3.gif", caption: "" },
        { url: "/img/work/moma-mobile-1.gif", caption: "" }, { url: "/img/work/moma-mobile-2.gif", caption: "" }, { url: "/img/work/moma-mobile-3.gif", caption: "" }, { url: "/img/work/moma-mobile-4.gif", caption: "" },
        { url: "/img/work/memberflow.gif", caption: "" },
        { url: "/img/work/ML-Rousseau.gif", caption: "" },
      { url: "/img/work/RID37.gif", caption: "" },
      { url: "/img/work/scarf.gif", caption: "" },
      { url: "/img/work/TIB_10.gif", caption: "<p>With <a href=\"http://www.luizludwig.com.br\" target=\"_blank\">LL</a></p>" },
      { url: "/img/work/WPItote.gif", caption: "<p>With <a href=\"https://in-fo.co/studio\" target=\"_blank\">IN-FO.CO</a></p>" },
      { url: "/img/work/you-pages.gif", caption: "" },
      { url: "/img/work/MoMAcase.gif", caption: "" },
      { url: "/img/work/DEGAS.gif", caption: "<p>With <a href=\"https://www.tsangseymour.com\" target=\"_blank\">TS</a></p>" }, { url: "/img/work/IMG_0538.gif", caption: "" }, { url: "/img/work/IMG_0540.gif", caption: "" },
      { url: "/img/work/MoMAbroke.gif", caption: "" },



    ];

    function shuffle(a) {
        var j, x, i;
        for (i = a.length - 1; i > 0; i--) {
            j = Math.floor(Math.random() * (i + 1));
            x = a[i];
            a[i] = a[j];
            a[j] = x;
        }
        return a;
    }

    shuffle(imgs);

    var width = Math.floor(Math.random()*25 + 25);
    var i = 0;

      $("section").prepend("<figure style='max-width:"+width+"%'><img src='"+imgs[i].url+"'/><figcaption>"+imgs[i].caption+"</figcaption></figure>");

    i++;

  $("section").on("click",function(){


      var random = Math.floor(Math.random()*imgs.length),
      	width = Math.floor(Math.random()*25 + 25),
      	src = imgs[random];

  		if(i < imgs.length){

  		    $("section").prepend("<figure style='max-width:"+width+"%'><img src='"+imgs[i].url+"'/><figcaption>"+imgs[i].caption+"</figcaption></figure>");
  		    i++;

  		    $('img').on('dragstart', function(event) { event.preventDefault(); });


  		}else{

  		       $("section").prepend("<figure style='max-width:"+width+"%'><img src='/img/work/ysc.gif'/><figcaption></figcaption></figure>");
             $('img').on('dragstart', function(event) { event.preventDefault(); });

  		}

  });

    $('img').on('dragstart', function(event) { event.preventDefault(); });


  });
  </script>

</div>
